.col1, .col-sm-7 {
    height: 100%;
}

.num1 {
    height: 75%;
}

.num2 {
    height: 25%;
}

.card {
    height: 100%;
}

body {
    background-color: rgb(88, 30, 139);
}

.hidden {
    display: none;
}