.col1, .col-sm-7 {
    height: 100%;
}

.num1 {
    height: 75%;
}

.num2 {
    height: 25%;
}

.card {
    height: 100%;
}

body {
    background-color: rgb(255, 87, 51);
}

.hidden {
    display: none;
}

.card {
    height: 600px;
}

mark.orange {
    color: rgb(248,149,19)
}

mark.blue {
    color: rgb(5,5,100)
}

h1 {
    color: white;
}