.col1, .col-sm-7 {
    height: 100%;
}

.num1 {
    height: 75%;
}

.num2 {
    height: 25%;
}

.card {
    height: 100%;
}

body {
    background-color: rgb(88, 30, 139);
}

.hidden {
    display: none;
}

.card {
    height: 600px;
}

img.logo {
    height:100px;
}

h1 {
    color: white;
    font-size: 50px
}

.projectTitle{
    padding-bottom: 30px;
}
.button {
    background-color: #ffb300; /* Green */
    color: white;
    text-align: center;
    font-size: 40px;
    border: #4CAF50 solid;
    cursor: pointer;
}
.button:hover {background-color: #3e8e41}

.button:active {
background-color: #3e8e41;
box-shadow: 0 5px #666;
transform: translateY(4px);
}