<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zero Avia Data</title>
    <link rel="stylesheet" href="../static/test.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>


    <h1>Graph</h1>
    <img src="https://images.unsplash.com/photo-1586448317606-cb1ec00298fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZGF0YSUyMGdyYXBofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="...">

    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Level 1
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class = "container">
              <div class="col">


                <h2>Fuel Tank</h2>
                <h3>Fuel Type</h3>

                    <form action="success.html" method="POST">
                        <input title="" placeholder="Fuel Type" type="text" name="email_name" required><br>
                    </form>
                    <h3>Weight (kg)</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="Weight" type="number" min="50" max="300" name="height_name" required><br>

                    </form>
                    <h3>Volume (L)</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="Volume" type="number" min="50" max="300" name="height_name" required><br>
                    </form>
                    <h3>Specific Energy</h3>

                    <form action="success.html" method="POST">
                        <input title="" placeholder="SpecificEnergy" type="text" name="email_name" required><br>
                    </form>
                    <h3>Minumum Fuel Weight (kg)</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="MinFuelWeight" type="number" min="50" max="300" name="height_name" required><br>

                    </form>
                    <h3>Maximum Fuel Weight (kg)</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="MaxFuelWeight" type="number" min="50" max="300" name="height_name" required><br>
                    </form>
                    <h3>Worst Case Efficiency</h3>

                    <form action="success.html" method="POST">
                        <input title="" placeholder="WorstEfficiency" type="text" name="email_name" required><br>
                        <input title="option1" placeholder="option1" type="number" min="50" max="300" name="height_name" required><br>
                    </form>

                    <h2>Fuel Cell</h2>
                    <h3>Power Rating</h3>

                    <form action="success.html" method="POST">
                        <input title="" placeholder="Power Rating" type="text" name="email_name" required><br>
                        <input title="option1" placeholder="option1" type="number" min="50" max="300" name="height_name" required><br>
                    </form>
                    <h3>Weight (kg)</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="Weight" type="number" min="50" max="300" name="height_name" required><br>

                    </form>
                    <h3>Volume (L)</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="Volume" type="number" min="50" max="300" name="height_name" required><br>
                    </form>
                    <h3>Rated Voltage (V)</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="Rated Voltage" type="number" min="50" max="300" name="height_name" required><br>
                    </form>
                    <h3>Heat Output</h3>

                    <form action="success.html" method="POST">
                        <input title="" placeholder="Heat Output" type="text" name="email_name" required><br>
                        <input title="option1" placeholder="Heat Output" type="number" min="50" max="300" name="height_name" required><br>

                    </form>
                    <h3>Fuel Consumption (m^3/h)</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="Fuel Consumption" type="number" min="50" max="300" name="height_name" required><br>
                    </form>
                    <h3>Worst Case Efficiency</h3>

                    <form action="success.html" method="POST">
                        <input title="" placeholder="WorstEfficiency" type="text" name="email_name" required><br>
                        <input title="option1" placeholder="WorstEfficiency" type="number" min="50" max="300" name="height_name" required><br>
                    </form>

                    <h2>Power Distro. Unit</h2>
                    <h3>HVDC Cable Conductor Diameter (AWG)</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="HVDC Cable Conductor Diameter" type="number" min="50" max="300" name="height_name" required><br>
                    </form>
                    <h3>Minimum Insulation Rating (V) (kg)</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="Minimum Insulation Rating" type="number" min="50" max="300" name="height_name" required><br>

                    </form>
                    <h3>Conductor Material</h3>

                    <form action="success.html" method="POST">
                        <input title="" placeholder="Conductor Material" type="text" name="email_name" required><br>
                    </form>
                    <h3>Fuel Cell - PDU Length (ft)</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="Fuel Cell - PDU Length" type="number" min="50" max="300" name="height_name" required><br>
                    </form>
                    <h3>PDU - EPS Length (ft)</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="PDU - EPS Length" type="number" min="50" max="300" name="height_name" required><br>

                    </form>
                    <h3>Contactor Resistance (mOhm)</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="Contactor Resistance" type="number" min="50" max="300" name="height_name" required><br>
                    </form>
                    <h3>Worst Case Efficiency</h3>

                    <form action="success.html" method="POST">
                        <input title="" placeholder="WorstEfficiency" type="text" name="email_name" required><br>
                        <input title="option1" placeholder="option1" type="number" min="50" max="300" name="height_name" required><br>
                    </form>
                </div>
                <div class="col">

                    <h2>Inverter</h2>
                    <h3>Max Power (kW)</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="Max Power (kW)" type="number" min="50" max="300" name="height_name" required><br>
                    </form>
                    <h3>Max Value HVDC (V)</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="Max Value HCDC" type="number" min="50" max="300" name="height_name" required><br>

                    </form>
                    <h3>Min HVDC (V)</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="Min HVDC" type="number" min="50" max="300" name="height_name" required><br>
                    </form>
                    <h3>Max Coolant Inlet Temp Range (Celsius)</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="Max Coolant Inlet Temp Range" type="number" min="50" max="300" name="height_name" required><br>
                    </form>
                    <h3>Max HVDC Current (Amps)</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="Max HVDC Current" type="number" min="50" max="300" name="height_name" required><br>

                    </form>
                    <h3>Mass (kg)</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="Mass" type="number" min="50" max="300" name="height_name" required><br>
                    </form>
                    <h3>Volume (L)</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="Volume" type="number" min="50" max="300" name="height_name" required><br>
                    </form>
                    <h3>Switching Frequency (kHz)</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="Volume" type="number" min="50" max="300" name="height_name" required><br>
                    </form>
                    <h3>Worst Case Efficiency</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="Worst Case Efficiency" type="number" min="50" max="300" name="height_name" required><br>
                    </form>

                    <h2>Motor</h2>
                    <h3>Max Power (kW)</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="Max Power" type="number" min="50" max="300" name="height_name" required><br>
                    </form>
                    <h3>Max Nominal Speed (RPM)</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="Max Nominal Speed" type="number" min="50" max="300" name="height_name" required><br>

                    </form>
                    <h3>Max Torque (Nm)</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="Max Torque" type="number" min="50" max="300" name="height_name" required><br>

                    </form>
                    <h3>Weight (kg)</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="Weight" type="number" min="50" max="300" name="height_name" required><br>

                    </form>
                    <h3>Volume (L)</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="Volume" type="number" min="50" max="300" name="height_name" required><br>
                    </form>
                    <h3>No. Phases</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="No. Phases" type="number" min="50" max="300" name="height_name" required><br>
                    </form>
                    <h3>Max Phase Current (Arms)</h3>

                    <form action="success.html" method="POST">
                        <input title="option1" placeholder="Max Phase Current (Arms)" type="number" min="50" max="300" name="height_name" required><br>

                    </form>
                    <h3>Fundamental Frequency (kHz)</h3>

                    <form action="success.html" method="POST">
                        <input title="" placeholder="MaxFuelWeight" type="text" name="email_name" required><br>
                        <input title="option1" placeholder="Fundamental Frequency" type="number" min="50" max="300" name="height_name" required><br>
                    </form>
                    <h3>Worst Case Efficiency</h3>

                    <form action="success.html" method="POST">
                        <input title="" placeholder="WorstEfficiency" type="text" name="email_name" required><br>
                        <input title="option1" placeholder="option1" type="number" min="50" max="300" name="height_name" required><br>
                    </form>

                  </div>
              </div>


          </div>
        </div>
      </div>


      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Level 2
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class = "container">
              <div class="col">

                <h2>Fuel Tank</h2>
                <h3>Height Input</h3>

                    <form action="success.html" method="POST">
                        <input title="" placeholder="Height" type="text" name="email_name" required><br>
                        <input title="option1" placeholder="option1" type="number" min="50" max="300" name="height_name" required><br>
                    </form>
                    <h3>Weight Input</h3>

                    <form action="success.html" method="POST">
                        <input title="" placeholder="Weight" type="text" name="email_name" required><br>
                        <input title="option1" placeholder="option1" type="number" min="50" max="300" name="height_name" required><br>

                    </form>
                    <h3>Voltage Input</h3>

                    <form action="success.html" method="POST">
                        <input title="" placeholder="Voltage" type="text" name="email_name" required><br>
                        <input title="option1" placeholder="option1" type="number" min="50" max="300" name="height_name" required><br>
                        <button type="submit">Submit</button>
                    </form>

                    <h2>Fuel Cell</h2>
                    <h3>Height Input</h3>

                    <form action="success.html" method="POST">
                        <input title="" placeholder="Height" type="text" name="email_name" required><br>
                        <input title="option1" placeholder="option1" type="number" min="50" max="300" name="height_name" required><br>
                    </form>
                    <h3>Weight Input</h3>

                    <form action="success.html" method="POST">
                        <input title="" placeholder="Weight" type="text" name="email_name" required><br>
                        <input title="option1" placeholder="option1" type="number" min="50" max="300" name="height_name" required><br>

                    </form>
                    <h3>Voltage Input</h3>

                    <form action="success.html" method="POST">
                        <input title="" placeholder="Voltage" type="text" name="email_name" required><br>
                        <input title="option1" placeholder="option1" type="number" min="50" max="300" name="height_name" required><br>
                        <button type="submit">Submit</button>
                    </form>

                    <h2>Power Distro. Unit</h2>
                    <h3>Height Input</h3>

                    <form action="success.html" method="POST">
                        <input title="" placeholder="Height" type="text" name="email_name" required><br>
                        <input title="option1" placeholder="option1" type="number" min="50" max="300" name="height_name" required><br>
                    </form>
                    <h3>Weight Input</h3>

                    <form action="success.html" method="POST">
                        <input title="" placeholder="Weight" type="text" name="email_name" required><br>
                        <input title="option1" placeholder="option1" type="number" min="50" max="300" name="height_name" required><br>

                    </form>
                    <h3>Voltage Input</h3>

                    <form action="success.html" method="POST">
                        <input title="" placeholder="Voltage" type="text" name="email_name" required><br>
                        <input title="option1" placeholder="option1" type="number" min="50" max="300" name="height_name" required><br>
                        <button type="submit">Submit</button>
                    </form>
                </div>
                <div class="col">

                  <h2>Inverter</h2>
                  <h3>Height Input</h3>

                      <form action="success.html" method="POST">
                          <input title="" placeholder="Height" type="text" name="email_name" required><br>
                          <input title="option1" placeholder="option1" type="number" min="50" max="300" name="height_name" required><br>
                      </form>
                      <h3>Weight Input</h3>

                      <form action="success.html" method="POST">
                          <input title="" placeholder="Weight" type="text" name="email_name" required><br>
                          <input title="option1" placeholder="option1" type="number" min="50" max="300" name="height_name" required><br>

                      </form>
                      <h3>Voltage Input</h3>

                      <form action="success.html" method="POST">
                          <input title="" placeholder="Voltage" type="text" name="email_name" required><br>
                          <input title="option1" placeholder="option1" type="number" min="50" max="300" name="height_name" required><br>
                          <button type="submit">Submit</button>
                      </form>

                      <h2>Motor</h2>
                      <h3>Height Input</h3>

                      <form action="success.html" method="POST">
                          <input title="" placeholder="Height" type="text" name="email_name" required><br>
                          <input title="option1" placeholder="option1" type="number" min="50" max="300" name="height_name" required><br>
                      </form>
                      <h3>Weight Input</h3>

                      <form action="success.html" method="POST">
                          <input title="" placeholder="Weight" type="text" name="email_name" required><br>
                          <input title="option1" placeholder="option1" type="number" min="50" max="300" name="height_name" required><br>

                      </form>
                      <h3>Voltage Input</h3>

                      <form action="success.html" method="POST">
                          <input title="" placeholder="Voltage" type="text" name="email_name" required><br>
                          <input title="option1" placeholder="option1" type="number" min="50" max="300" name="height_name" required><br>
                          <button type="submit">Submit</button>
                      </form>

                  </div>
              </div>


          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Level 3
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class = "container">
              <div class="col">


                <h3>Height Input</h3>

                    <form action="success.html" method="POST">
                        <input title="" placeholder="Height" type="text" name="email_name" required><br>
                        <input title="option1" placeholder="option1" type="number" min="50" max="300" name="height_name" required><br>
                    </form>
                    <h3>Weight Input</h3>

                    <form action="success.html" method="POST">
                        <input title="" placeholder="Weight" type="text" name="email_name" required><br>
                        <input title="option1" placeholder="option1" type="number" min="50" max="300" name="height_name" required><br>

                    </form>
                    <h3>Voltage Input</h3>

                    <form action="success.html" method="POST">
                        <input title="" placeholder="Voltage" type="text" name="email_name" required><br>
                        <input title="option1" placeholder="option1" type="number" min="50" max="300" name="height_name" required><br>
                        <button type="submit">Submit</button>
                    </form>
                </div>
                <div class="col">


                  <h3>Height Input</h3>

                      <form action="success.html" method="POST">
                          <input title="" placeholder="Height" type="text" name="email_name" required><br>
                          <input title="option1" placeholder="option1" type="number" min="50" max="300" name="height_name" required><br>
                      </form>
                      <h3>Weight Input</h3>

                      <form action="success.html" method="POST">
                          <input title="" placeholder="Weight" type="text" name="email_name" required><br>
                          <input title="option1" placeholder="option1" type="number" min="50" max="300" name="height_name" required><br>

                      </form>
                      <h3>Voltage Input</h3>

                      <form action="success.html" method="POST">
                          <input title="" placeholder="Voltage" type="text" name="email_name" required><br>
                          <input title="option1" placeholder="option1" type="number" min="50" max="300" name="height_name" required><br>
                          <button type="submit">Submit</button>
                      </form>
                  </div>
              </div>


          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>